---
import Layout from "@/layouts/Layout.astro";
import AnnouncementBar from "@/components/AnnouncementBar.astro";
import Nav from "@/components/Nav.astro";
---

<Layout title="Construction Design Workflow">
  <AnnouncementBar />
  <Nav />

  <main>
  </main>
</Layout>
